html {
	box-sizing: border-box;
	font-size: 100%;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: black;
	color: white;
	line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

svg {
	width: 15px;
	height: 15px;
}
